:root {

  --bg: #000;
  --yellow: #f4e400;
  --blue: #00d9ff;
  --red: #ff3131;
  --green: #00ff99;

}

* {
  box-sizing: border-box;
}

body {

  margin: 0;

  background: #000;

  color: var(--yellow);

  font-family: Impact, sans-serif;

  text-align: center;

  padding: 30px;

}

.startScreen {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: #050505;
  color: #ffe600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px;
  text-align: center;

  font-family: 'Share Tech Mono', monospace;
}

.startScreen h2 {
  color: #00eaff;
  letter-spacing: 3px;
}

.startScreen p {
  max-width: 320px;
  line-height: 1.4;
}


.container {

  background: #050505;

  padding: 6px 18px 18px;

}

button {
  margin-bottom: 8px;

  padding: 14px 36px;

  background: #050505;

  color: #fff200;

 border: 2px solid #00eaff;

  font-family: 'Rubik Mono One', sans-serif;

  font-size: 16px;

  letter-spacing: 1px;

  cursor: pointer;

  box-shadow:
  0 0 14px rgba(0,234,255,0.25);
  
  text-shadow: none;

-webkit-font-smoothing: none;

image-rendering: pixelated;
}

button:hover {
  background: #00f6ff;

  color: #000;
}



/* ========================= */
/* SIGNAL FOUND LOGO */
/* ========================= */

.logoTitle {

  font-family: 'Rubik Mono One', sans-serif;

  font-size: 88px;

  line-height: 0.9;

  letter-spacing: 1px;

  text-transform: uppercase;

  text-align: center;

  color: transparent;

  background:
    repeating-linear-gradient(
      to bottom,
      #00eaff 0px,
      #00eaff 4px,
      transparent 4px,
      transparent 6px
    );

  -webkit-background-clip: text;
  background-clip: text;


    filter: drop-shadow(0 0 4px rgba(0,234,255,0.45));
    

  transform: scaleY(1.18);

  margin-top: 8px;

  margin-bottom: 8px;

}

/* ========================= */
/* NORMAL HEADINGS */
/* ========================= */



.subtitle {

  color: var(--blue);

  font-family: monospace;

  letter-spacing: 3px;

  margin-top: 10px;

  margin-bottom: 28px;

}

/* ========================= */
/* PANELS */
/* ========================= */




.decoderPanel,
.responseScreen {

  width: 100%;
  max-width: 560px;

  border: 3px solid #00eaff;

  margin: 12px auto;

  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  

}

.decoderPanel {

  background:
    radial-gradient(
      circle at center,
      rgba(0,25,45,0.95) 0%,
      rgba(0,0,0,1) 75%
    );

  padding: 12px 16px;

}

.responseScreen {
  width: 100%;
  max-width: 560px;

  border: 3px solid #00eaff;
  background: #050505;

 
  margin: 6px auto 18px;
  padding: 14px;

  box-sizing: border-box;
}




.decoderPanel.glitching {
  animation: randomGlitch 0.18s steps(2) 3;
}

@keyframes randomGlitch {
  0% {
    transform: translate(0, 0);
    filter: none;
  }

  25% {
    transform: translate(-3px, 2px);
    filter: hue-rotate(40deg);
  }

  50% {
    transform: translate(3px, -2px);
    filter: brightness(1.5);
  }

  75% {
    transform: translate(-2px, -1px);
    filter: contrast(1.6);
  }

  100% {
    transform: translate(0, 0);
    filter: none;
  }
}









#responseOutput {
  color: #fff200;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  
}


.decoderPanel::before,
.responseScreen::before {

  content: "";

  position: absolute;

  inset: 0;

  background:
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.03) 0px,
      rgba(255,255,255,0.03) 1px,
      transparent 2px,
      transparent 4px
    );

  pointer-events: none;

  opacity: 0.28;

}

/* ========================= */
/* SHAKE */
/* ========================= */

.decoderPanel.shake {

  animation: screenShake 0.35s ease;

}

@keyframes screenShake {

  0%   { transform: translateX(0); }
  20%  { transform: translateX(-8px); }
  40%  { transform: translateX(8px); }
  60%  { transform: translateX(-6px); }
  80%  { transform: translateX(6px); }
  100% { transform: translateX(0); }

}

/* ========================= */
/* TITLES */
/* ========================= */

.decoderPanel h2,
.responseTitle {

  color: var(--yellow);

  font-size: 30px;

  text-shadow:
    0 0 12px rgba(255,255,0,0.6);

}

.responseTitle {

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;

  color: #fff200;

  font-family: 'Share Tech Mono', monospace;

  font-size: 14px;

  letter-spacing: 4px;

  text-transform: uppercase;

  margin-top: 4px;

  margin-bottom: 6px;

  line-height: 1;

  text-shadow: none;

}

/* LEFT + RIGHT LINES */

.responseTitle::before,
.responseTitle::after {

  content: "";

  height: 1px;

  width: 180px;

  background: #00eaff;

  box-shadow:
    0 0 10px rgba(0,234,255,0.8);

  opacity: 0.9;

}










/* ========================= */
/* RESPONSE OUTPUT */
/* ========================= */

#responseOutput {

  color: #ffe600;

  text-align: center;

  font-family: 'Share Tech Mono', monospace;

  white-space: pre-line;

  line-height: 1.4;

  font-size: 30px;

  letter-spacing: 1px;

  padding: 8px;

  min-height: 30px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  text-shadow: none;

-webkit-font-smoothing: none;
-moz-osx-font-smoothing: auto;
text-rendering: optimizeSpeed;
font-smooth: never;

  image-rendering: pixelated;
}

.signalLabel {

  color: var(--yellow);

  font-size: 16px;

  letter-spacing: 4px;

  margin-bottom: 18px;

}

.bigTransmission {

  font-size: 34px;

  line-height: 1.4;

  color: var(--yellow);

  margin-bottom: 22px;

  animation: transmissionFlash 0.45s ease;

}



@keyframes transmissionFlash {

  0% {

    opacity: 0;

    transform: scale(0.92);

  }

  100% {

    opacity: 1;

    transform: scale(1);

  }

}









/* ========================= */
/* WORD GRID */
/* ========================= */
.wordGrid {
  display: grid;
 grid-template-columns: repeat(8, 1fr);
  gap: 4px;
  width: fit-content;
  margin: 20px auto;
  justify-items: center;
  user-select: none;
  touch-action: none;
  overflow: visible;
}

.wordGrid div {
  width: 64px;
  height: 64px;
}




/* ========================= */
/* LETTERS */
/* ========================= */

.letterTile {
  position: relative;

  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;

  color: #2e8fff;

  font-family: 'Share Tech Mono', monospace !important;

  font-size: 3rem !important;

  font-weight: 500;

  text-shadow:
    0 0 6px rgba(46,143,255,0.9),
    0 0 14px rgba(46,143,255,0.45);

  transition:
    background 0.18s ease,
    color 0.18s ease,
    transform 0.12s ease,
    box-shadow 0.18s ease;

  overflow: hidden;
}

/* ========================= */
/* YELLOW HIGHLIGHT */
/* ========================= */

.letterTile.selected,
.letterTile.found {

  color: #dff6ff;

  background:
    rgba(255, 230, 0, 0.42);

  box-shadow:
    0 0 10px rgba(255,230,0,0.45),
    inset 0 0 12px rgba(255,230,0,0.18);

  backdrop-filter: blur(1px);

  border-radius: 18px;
}

/* smoother connected look */

.letterTile.selected::before,
.letterTile.found::before {
  content: "";

  position: absolute;

  inset: 0;

  border-radius: 18px;

  background:
    linear-gradient(
      to bottom,
      rgba(255,255,180,0.18),
      rgba(255,230,0,0.05)
    );

  pointer-events: none;
}



.signalHint {

  color: #00d9ff;

  font-family: 'Share Tech Mono', monospace;

  font-size: 30px;

  font-weight: bold;

  letter-spacing: 2px;

  line-height: 1.6;

  margin-top: 14px;

  margin-bottom: 24px;

}

#signalHint {
  text-align: left;
}

.waitingCursor {
  color: #00eaff;
  font-family: 'Share Tech Mono', monospace;
  font-size: 34px;
  letter-spacing: 5px;
  display: inline-block;

  animation: waitBlink 0.7s steps(2) infinite;
}

@keyframes waitBlink {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0.25;
    transform: translateX(3px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }

}


.terminalDetails {
  display: grid;

  grid-template-columns: 110px 1fr 90px;

  gap: 6px;

  align-items: stretch;

  width: 100%;

  max-width: 560px;

  margin: 4px auto 6px;
}

.miniInfoBox,
.miniHintBox {

  border: 2px solid #00f6ff;

  background: rgba(0,255,120,0.05);

  color: #00f6ff;

  font-family: 'Share Tech Mono', monospace;

  padding: 7px 8px;

  font-size: 0.82rem;

  text-align: left;

  min-height: 52px;
}

.miniInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.miniInfoBox strong {

  color: #00f6ff;

  font-weight: 400;
}

.miniHintBox {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  line-height: 1.2;
}

.miniHintBox .boxLabel {
  margin-bottom: 4px;
}

.scoreBox {

  border: 2px solid #00f6ff;

  background: rgba(0,255,120,0.05);

  color: #ffe600;

  font-family: 'Share Tech Mono', monospace;

  min-height: 52px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  box-sizing: border-box;
}

.boxLabel,
.scoreLabel {
  color: #ffe600;
  font-size: 0.80rem;
  letter-spacing: 1px;
}


#wordCount,
#scoreDisplay {
 animation: numberFlash 1.8s steps(2) infinite;
}


#wordCount,
#signalHint,
#scoreDisplay {
  color: #ffe600;
  font-size: 0.72rem;
  font-weight: 400;
  text-shadow: none;
}

@keyframes numberFlash {
  0%, 100% {
    opacity: 1;
    text-shadow: 0 0 6px #ffe600;
  }

  50% {
    opacity: 0.35;
    text-shadow: none;
  }
}









@media (max-width: 600px) {

  body {
    padding: 10px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }

  .logoTitle {
    font-size: 2.4rem;
    line-height: 0.9;
    letter-spacing: 2px;
    transform: scaleY(0.9);
    margin-bottom: 8px;
  }

  .subtitle {
    font-size: 0.8rem;
    line-height: 1.3;
    margin-bottom: 12px;
  }

  /* ========================= */
  /* TOP INFO AREA */
  /* ========================= */

.terminalDetails {
  display: grid;
  grid-template-columns: 95px 1fr 85px;
  gap: 6px;
  align-items: stretch;
  margin: 4px 0 6px;
}

.miniInfoBox,
.miniHintBox {
  border: 2px solid #00f6ff;

  background: rgba(0,255,120,0.05);

  color: #ffe600;

  font-family: 'Share Tech Mono', monospace;

  font-size: 0.72rem;

  padding: 6px 8px;

  box-sizing: border-box;
}

.miniInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.miniInfoBox strong {
  color: #ffe600;
  font-weight: 400;
}


.miniHintBox {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  text-align: center;

  padding-top: 4px;
}

#signalHint {
  display: block;
  width: 100%;
  text-align: center;
}

.miniHintBox .boxLabel {
  display: block;
  width: 100%;

  margin-bottom: 4px;

  text-align: center;
}


.scoreBox {
  position: relative;

  border: 2px solid #00f6ff;
  background: rgba(0,255,120,0.05);
  color: #ffe600;
  font-family: 'Share Tech Mono', monospace;
  font-size: 0.72rem;
  min-height: 52px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  text-align: center;
}

.scoreLabel {
  color: #ffe600;
  font-size: 0.80rem;
  letter-spacing: 1px;
}

#scoreDisplay {
  color: #ffe600;
  font-size: 0.72rem;
  font-weight: 400;
  text-shadow: none;
  margin-top: 4px;
}

#pointsFlash {
  position: absolute;
  top: 8px;
  right: 6px;

  color: #ffe600;
  font-size: 0.7rem;
  font-weight: bold;

  opacity: 0;
  pointer-events: none;
}

  /* ========================= */
  /* DECODER PANEL */
  /* ========================= */

  .decoderPanel {
    margin-top: 4px;
  margin-bottom: 12px;
  padding: 14px;
  }

  /* ========================= */
  /* WORD GRID */
  /* ========================= */

  .wordGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
     margin: 2px auto;
    gap: 3px;
    width: 100%;
    max-width: 100%;
    padding: 2px;
    box-sizing: border-box;

    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
  }

  /* ========================= */
  /* TILES */
  /* ========================= */

  .wordGrid div,
  .wordTile,
  .letterTile {
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
     width: 100%;
  height: auto;
  }

.wordTile,
.letterTile {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(1.3rem, 6vw, 2rem) !important;

  min-width: 42px;
  min-height: 42px;

  touch-action: none;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeSpeed;
  font-smooth: never;
  image-rendering: pixelated;

  user-select: none;
}

  /* ========================= */
  /* RESPONSE BOX */
  /* ========================= */

  .responseScreen {
  margin-top: 2px;
  min-height: 72px;
  padding: 10px;
}

#responseOutput {
  font-size: 1rem;
}

  /* ========================= */
  /* BUTTON */
  /* ========================= */

  button {
    width: 100%;
    font-size: 0.95rem;
    padding: 12px;
    margin-top: 4px;
  margin-bottom: 6px;
  }
}





.container {
  position: relative;
  z-index: 2;
  padding-bottom: 40px;
}

.ghostBrain {
  display: block;
  width: 220px;
  margin: 25px auto 0;
  opacity: 0.12;
  pointer-events: none;
  image-rendering: pixelated;

  animation:
    brainFloat 7s ease-in-out infinite,
    brainFlicker 4s infinite;
}

@keyframes brainFloat {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0px);
  }

}

@keyframes brainFlicker {

  0% {
    opacity: 0.10;
    filter: brightness(1);
  }

  2% {
    opacity: 0.18;
    filter: brightness(1.4);
  }

  4% {
    opacity: 0.08;
    filter: brightness(0.8);
  }

  6% {
    opacity: 0.14;
    filter: brightness(1.2);
  }

  100% {
    opacity: 0.10;
    filter: brightness(1);
  }

}

